body {
	margin: 0;
	font-family: serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #b0c4de;
}
